// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: block;
}

.carousel{
    .carousel-inner{
        position: relative;
        max-height: 100%;
    }
    .carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    color: orange;
    font-size: 200%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .carousel-item > img {
      width: 100%;
    }

    .card {
        max-width: 650px;
        margin: 60px auto;
        display: block;
    }
}
