// display flex was causing errors
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: block;
}

.carousel{
    // width:100%;
    // height:100%;
    // margin: 0 auto; width: 960px;

    .carousel-item > img {
      width: 100%;
    }

    .card {
        max-width: 650px;
        margin: 60px auto;
        display: block;
    }
}
